@use '@/scss/variables.scss' as *;
@use '@/scss/mixins.scss' as *;

.steps {
  padding: 64px 4px;
  background-color: $bg-dark-red;

  @include respond(tablet) {
    padding: 114px 14px;
  }

  @include respond(laptop) {
    padding: 114px 100px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 56px;

    @include respond(tablet) {
      gap: 114px;
    }

    @include respond(laptop) {
      gap: 220px;
    }
  }

  h2,
  h3,
  p,
  span {
    color: $white;
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 36px;

    &__list {
      display: flex;
      flex-direction: column;

      &__item {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        gap: 32px;
        padding: 50px 0;
        border-top: 1px solid $white;

        @include respond(tablet) {
          grid-template-columns: 3fr 9fr;
        }

        &:last-child {
          border-bottom: 1px solid $white;
        }

        span {
          font-weight: 200;
          font-size: 100px;
          line-height: 1.09;
          letter-spacing: -0.05em;

          @include respond(tablet) {
            font-size: 200px;
          }

          @include respond(laptop) {
            font-size: 300px;
          }
        }

        &__text {
          max-width: 481px;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-self: flex-end;
          gap: 32px;

          @include respond(tablet) {
            gap: 56px;
          }
        }
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 56px;

    @include respond(tablet) {
      flex-direction: row;
      align-items: center;
      gap: 72px;
    }

    @include respond(laptop) {
      gap: 100px;
    }
  }
}
