@use '@/scss/mixins.scss' as *;

.block {
  width: 100%;
  height: 280px;

  @include respond(tablet) {
    height: 480px;
  }

  @include respond(laptop) {
    height: 625px;
  }

  img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
  }
}
