$bg-light: #f7f4eb;
$bg-dark-green: #0d1f08;
$bg-dark-red: #1f0808;

$black: #000000;
$white: #ffffff;
$primary: #31110f;

$text-muted: #f2f2f2;
$text-light: #f7f4eb;

$accent-warm: #fff0c4;
$neutral-light: #f6f6f6;
